<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>
            Action
        </h5>
    </div>
    <div class="ibox-content">
        
        <div class="row"> 
            <button data-bind="click: function(){ model.application.clickButton(2)}"  class="btn btn-outline btn-xs btn-primary" >Edit</button>
            <button data-bind="click: function(){model.application.clickButton(4)}" class="btn btn-outline btn-xs btn-primary" >Transfer</button>
            <button data-bind="click: function(){model.application.clickButton(5)}" class="btn btn-outline btn-xs btn-primary" >Send Back</button>
            <button data-bind="click: function(){model.application.clickButton(10)}" class="btn btn-outline btn-xs btn-primary" >Submit</button>
            
            <!--visible: workFlowId.workFlowIsAllowRemove,-->
            <button data-bind=" click: function(){model.application.clickButton(3)}" style="margin-left: 10px" class="btn btn-outline btn-xs btn-danger" type="button">
              Remove
            </button>
        </div>
       

    </div>
</div>