<div class="modal-content">
    <div class="modal-header">
        <h3><!-- ko text: model.title --><!-- /ko --></h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group" >
                <label class="col-sm-3 control-label">
                    Next Step</label>
                <div class="col-sm-9">
                    <label data-bind="text: model.DocumentDetailNext.workFlowId.workFlowName" class="control-label">
                        </label>
                </div>
            </div>
          
            <!-- -->
            <!-- if: model.stage() -->
            <div class="form-group" data-bind="visible: visibleDepartment">
                <label class="col-sm-3 control-label">Department receive</label>
                <div class="col-sm-9">
                   <label class="control-label"><!-- ko text: model.DocumentDetailNext.docDetailDepCreate.depName --><!-- /ko --></label>
                </div>
            </div>
            
            <div class="form-group" data-bind="visible: visibleDepartment">
                <label class="col-sm-3 control-label">Department receive</label>
                <div class="col-sm-9">
                    <select class="chosen form-control" data-bind="options: Departments,selectedOptions : model.DepartmentSelected , optionsText: 'depName'"></select>
                    <!--<select class="form-control" data-bind="options: departmentArray, optionsText: 'Name', value: model.department"></select>-->
                </div>
            </div>
            
            <!--  -->
            <!-- if: model.department() -->
            <div class="form-group" data-bind="visible: visibleUser">
                <label class="col-sm-3 control-label">User receive</label>
                <div class="col-sm-9">
                    <select class="chosen form-control" data-bind="options: Users, optionsText: 'userFullName', selectedOptions : model.UserSelected"></select>
                </div>
            </div>
            <!-- -->
            <!--  if: model.stage() -->
            <div class="form-group">
                <label class="col-sm-3 control-label">Urgent</label>
                <div class="col-sm-9">
                    <input type="checkbox" data-bind="checked: model.Urgent"/>
                </div>                
            </div>
            <!--  -->
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Comment</label>
                <div class="col-sm-9">
                    <textarea class="form-control" data-bind="value: model.DocumentDetailNext.docDetailDescription"></textarea>
                </div>
            </div>
        </div>       
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: save">OK</button>
        <button class="btn btn-default" data-bind="click: cancel">Cancel</button>
    </div>
</div>