<div class="ibox float-e-margins">
    <div class="ibox-title">        
        <h5><!-- ko text: LOCALIZATION.APPLICATION.PROPERTY_TASKS --><!-- /ko --></h5>        
    </div>
    <div class="ibox-content">
        <!-- ko if: AllowEdit -->
        <div class="row">
            <button data-bind="visible: AllowApprove() && !IsStageEnd(), click: approve" style="margin-left: 5px" class="btn btn-outline btn-xs btn-primary" type="button"><!-- ko text: LOCALIZATION.APPLICATION.APPROVE --><!-- /ko --></button>
            <button data-bind="visible: AllowFinish() || (IsStageEnd() && AllowApprove()), click: finish" style="margin-left: 5px" class="btn btn-outline btn-xs btn-primary" type="button"><!-- ko text: LOCALIZATION.APPLICATION.FINISH --><!-- /ko --></button>
            <button data-bind="visible: AllowSendBack, click: sendback" class="btn btn-outline btn-xs btn-danger" type="button"><!-- ko text: LOCALIZATION.APPLICATION.SENDBACK --><!-- /ko --></button>
            <button data-bind="visible: AllowDelete, click: remove" style="margin-left: 5px" class="btn btn-outline btn-xs btn-danger" type="button"><!-- ko text: LOCALIZATION.COMMON.REMOVE --><!-- /ko --></button>
            
            <!--CR Vietcombank -->
            <div class="pull-right" data-bind="visible: IsCr()">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" data-bind="value: crid">
                    <span class="input-group-btn">
                        <button class="btn btn-outline btn-sm btn-primary" type="button" data-bind="click: cr">
                            CR
                        </button>
                    </span>
                </div>
            </div>
            <!--End CR Vietcombank -->
        </div>
        <!-- /ko -->
        <!-- ko if: ! AllowEdit() -->
        <div class="row">
            <button data-bind="visible: NeedAssignment() && Tasks().length > 0, click: assign.bind({ id: appid })" type="button" class="btn btn-outline btn-xs btn-primary" style="margin-left: 5px"><!-- ko text: LOCALIZATION.APPLICATION.ASSIGN --><!-- /ko --></button>
        </div>
         <!-- /ko -->
        <div class="row">
            <ul class="todo-list m-t small-list ui-sortable" data-bind="foreach: Tasks">
                <li>
                    <input style="padding-top: 2px" type="checkbox" data-bind="checked: IsFinished, attr: { disabled1111 : $root.AllowEdit() ? IsDisabled : true  }"/> <!--disabled="disabled"-->
                    <span class="m-l-xs"><!-- ko text: Name --><!-- /ko --></span>
                    <div class="m-l-xs" data-bind="foreach: Forms">
                        <button class="btn btn-sm" type="button" data-bind="css: {'btn-primary': Valid(), 'btn-danger': !Valid()}, click: $root.view_form.bind($data, {form_id: Id(), form_name: Name, Valid: Valid()})"><!-- ko text: Name --><!-- /ko --></button>
                    </div>
                    <table class="table table-hover">
                        <tbody data-bind="foreach: Files">
                        <tr>
                            <td style="width: 120px" data-bind="css: { 'file-error': !Exist() }">
                                <button data-bind="visible: Exist, click: $root.view_file.bind($data, { fileid: Id(), filename: Name() })" class="btn btn-sm btn-white">
                                       <i class="fa fa-search-plus"></i>
                                    </button>
                                <button data-bind="visible: Exist, click: $root.download.bind($data, { fileid: Id(), filename: Name() })" class="btn btn-sm btn-white">
                                    <i class="fa fa-link"></i>
                                </button>
                                <button data-bind="visible: Exist() && $root.AllowEdit, click: $root.remove_file.bind($data, {fileid: Id()})" class="btn btn-sm btn-white">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                            <td>
                                <!-- ko if: $root.AllowEdit -->
                                <input data-bind="attr: { filename: Name, fileid: Id ()}" type="file"/>
                                <!-- /ko -->
                                <!-- ko ifnot: $root.AllowEdit -->
                                <span data-bind="text: Name"></span>
                                <!-- /ko -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>