<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Document's information</h5>

    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>Document's number</dt>
                    <dd><!-- ko text: docId.docNumber --><!-- /ko --></dd>
                    <dt>Content</dt>
                    <dd><!-- ko text: docId.docContent --><!-- /ko --></dd>
                    <dt>User create</dt>
                    <dd><!-- ko text: docId.userId.userFullName --><!-- /ko -->(
                        <!-- ko text: docId.userId.userName --><!-- /ko -->
                        ) -
                        <!-- ko text: docId.userId.depId.depName --><!-- /ko --></dd>
                </dl>
            </div>
        </div>
    </div>
</div>