<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Workflow's information</h5>
        <div class="pull-right">
            
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    
                <dt>Current Step</dt>
                <dd><!-- ko text: workFlowId.workFlowName --><!-- /ko --></dd>
                <dt>User send</dt>
                <dd>
                    <!-- ko text: docDetailUserCreate.userFullName --><!-- /ko -->
                    (<!-- ko text: docDetailUserCreate.userName --><!-- /ko -->) 
                    

                </dd>
                <dt>Department Send</dt>
                <dd>
                   <!-- ko text: docDetailDepCreate.depName --><!-- /ko --> 
                </dd>
                <dt>User receive</dt>
                <dd>
                    <div data-bind="visible: docDetailUserReceive.userId() !== ''">
                    <!-- ko text:  docDetailUserReceive.userFullName --><!-- /ko -->
                    (<!-- ko text: docDetailUserReceive.userName --><!-- /ko -->) 
                    </div>
                </dd>
               <dt>Department receive</dt>
                <dd>
                    <div data-bind="visible: docDetailDepReceive.depId() !== ''">
                         <!-- ko text: docDetailDepReceive.depName --><!-- /ko --> 
                    </div>
                   
                </dd>
                <dt>Comment</dt>
                <dd><!-- ko text: docDetailDescription --><!-- /ko --></dd>
                </dl>
            </div>
        </div>
    </div>
</div>