<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Workflow's information</h5>
        <div class="pull-right">
            
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>Current Step</dt>                    
                    <dd><!-- ko text: StageName --><!-- /ko --></dd>                    
                    <dt>User send</dt>
                    <dd>
                        <!-- ko text: AssignedUserName --><!-- /ko --> -
                        <!-- ko text: AssignedDepartmentName --><!-- /ko --> 
                       
                    </dd>
                    <dt><!-- ko text: LOCALIZATION.APPLICATION.SEND_USER --><!-- /ko --></dt>
                    <dd><!-- ko text: SendUserName --><!-- /ko --> - <!-- ko text: SendDepartmentName --><!-- /ko --> - <!-- ko text: SendBranchName --><!-- /ko --></dd>
                    <dt><!-- ko text: LOCALIZATION.APPLICATION.COMMENT --><!-- /ko --></dt>
                    <dd><!-- ko text: LastComment --><!-- /ko --></dd>
                </dl>
            </div>
        </div>
    </div>
</div>