<div class="modal-content">
    <div class="modal-header">
        <h3><!-- ko text: model.title --><!-- /ko --></h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">      
            <div class="form-group" data-bind="visible: model.assigned_users.length > 0">
				<label class="col-sm-3 control-label"><!-- ko text: LOCALIZATION.APPLICATION.USER_ASSIGNED --><!-- /ko --></label>
                <div class="col-sm-9">
                    <select class="form-control" data-bind="options: model.assigned_users, optionsValue: 'Id', optionsText: 'FullName', value: model.userid"></select>
                </div>
			</div>          
        </div>       
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: save, enable: model.userid().length > 0"><!-- ko text: LOCALIZATION.COMMON.ACCEPT --><!-- /ko --></button>
        <button class="btn btn-default" data-bind="click: cancel"><!-- ko text: LOCALIZATION.COMMON.CANCEL --><!-- /ko --></button>
    </div>
</div>