<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="DMS-Sem4-warPU" transaction-type="JTA">
    <jta-data-source>DMSWebservice</jta-data-source>
    <class>entity.Action</class>
    <class>entity.Application</class>
    <class>entity.Department</class>
    <class>entity.Document</class>
    <class>entity.DocumentDepartment</class>
    <class>entity.DocumentDetail</class>
    <class>entity.DocumentStaff</class>
    <class>entity.DocumentStorage</class>
    <class>entity.DocumentType</class>
    <class>entity.GroupDepartment</class>
    <class>entity.GroupDepartmentDetail</class>
    <class>entity.Role</class>
    <class>entity.User</class>
    <class>entity.WorkFlow</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <validation-mode>NONE</validation-mode>
    <properties/>
  </persistence-unit>
</persistence>
